

<div class="row">
    <div class="col-6">
        <h1>User creation section: </h1>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <a href="/adduser" type="button" class="btn btn-primary align-self-center">Add User</a>
    </div>
</div>

<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
            <td>{{phone_number}}</td>
            <td>
                <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-eye-fill ml-8"></i>view</a>
                <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil-square"></i>Edit</a>
                <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-x-octagon"></i>Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
